*{
margin:0;
padding:0;
}
html {
	font-size: 16px;
	font-family: "Hannari";
}
body {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

/*コンテンツエリア設定*/

.container {
  overflow: auto;
  scroll-snap-type: y proximity;
  height: 100vh;
}
.area {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General Styling */

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.area:nth-child(even) {
  background-color: #0db;
}
.area:nth-child(odd) {
  background-color: #0bd;
}

.inner {
  width: 960px;
  max-width: 100%;
  margin:auto;
  padding: 24px;
  background: #fff59d;
	display: block;
}
