*{
margin:0;
padding:0;
}
html {
	font-size: 16px;
	font-family: "M PLUS 1p";
}
body {
  text-align: center;
  color: #333;
  display: flex;
flex-flow: column;
min-height: 100vh;
background-image: url(../img/bk.jpeg);
}
main{
  flex: 1;
}

footer{
  text-align: center;
  margin-top: 2em;
}
footer small{
  font-size: 50%;
}

h2{
  font-size: 2.5rem;
  font-weight: 900;
}
h2 span{
  font-size: 75%;
}
h3{
  font-size: 2rem;
}

h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}
h3:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}

h4{
  font-size: 2rem;
  color: red;
  font-weight: 700;
}
h4 span{
  font-size: 80%;
}
h5{
  font-size: 1.5rem;
  margin-bottom: 3%;
}

#contact{
  font-size: 1.5rem;
  line-height: 1.5;
}

h2.pickup{font-size: 5rem;
color: red;}

.inner {
  position: relative;
  font-size: 1.5rem;
  }

.inner div {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  line-height: 1.5;
  }

  #contact h4{
    line-height: 1;
    margin: 5% auto;
    color: #333;
    font-weight: 500;
    border: red 2px solid;
    padding: 2%;
    width: 50%;
    text-align: center;
  }

.inner img {
  width: 100%;
  }

  .inner p{
    margin: 1.5% 0;
  }

  .inner img.sp_menue{
    margin: 3% 0;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    height: 500px;
    object-fit: cover;
  }
  
  img.pc{
    height: 100vh;
    object-fit: cover;
  }

img.sp{
  display: none;
} 


.br-pc { display:block; }
.br-sp { display:none; }

.line-it-button{margin-top: 10%;}

  @media screen and (max-width: 481px) {
    h4 span{
      font-size: 50%;
    }
    #contact h4{width: 80%; line-height: 1.2;}
    #contact h4 span{
      font-size: 70%;
      font-weight: 800;
    }
    .inner div{
      width: 90%;
    }

    .inner img.sp_menue{
      height: 100%;
    }
    /*PCで背景変更*/
    img.pc{
      display: none;
    }
    img.sp{
      display: block;
    }
    .br-pc { display:none; }
    .br-sp { display:block; }
  }

/*
  .parallax {
    
    min-height: 200px;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover    
}

.parallax.bg-01 {
    background-image: url(../img/contact_logo.png);
    height: 200px;

}

.scrollbox{height: 100%;
padding: 2%;}

/* mobile bugfix 
@media screen and (max-width: 481px) {
  .parallax {
    background-image: none !important;
    height: 200px;
  }
  .parallax::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, -1px);
    transform: translate3d(0, 0, -1px);
    width: 100%;
    min-height: 150px;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -100;
  }

  .parallax.bg-01::before {
    background-image: url(../img/contact_logo.png);
  }
}
*/

.parallax-window {
  min-height: 200px;
  background: transparent;
}

#contact img{
  width: 100%;
  height: 100%;
  object-fit: cover;}

  .image-base{
    min-height:350px; /* 高さの最小値を決めることで高さを確保させます。デバイスサイズに応じて数値を変更させると、背景画像もレスポンシブに変化します。　*/
  　background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; /* 背景画像をフルスクリーンにフィットさせます */
  }
  .image {
    background: url('../img/contact_logo.png') no-repeat fixed ;　/* 背景画像を固定させます。 */;
    background-size: contain;
  }

  .image_2 {
    background: url('../img/contact_logo_2.png') no-repeat fixed ;　/* 背景画像を固定させます。 */;
    background-size: contain;
  }