*{
margin:0;
padding:0;
}
html {
	font-size: 16px;
	font-family: 'M PLUS 1p', sans-serif;
}

/*コンテンツエリア設定*/

.container {
  overflow: auto;
  scroll-snap-type: y proximity;
  height: 100vh;
}
.area {
  scroll-snap-align: start;
  height: 100vh;
}

/* General Styling */
body {
  font-size: 4rem;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.area:nth-child(even) {
  background-color: #0db;
}
.area:nth-child(odd) {
  background-color: #0bd;
}

/*スクロール*/
a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
}
a {
  padding-top: 60px;
}
a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
